/*stylesheet*/

body{
	margin: 20px;
	background: blue;
	color: white;
	font-family: 'Fira Sans', sans-serif;
	font-weight:200;
}

h1,h2{
	font-weight: 200;
}

div{
	width: 600px;
	height: 600px;
	background: red;
	margin: 2em;
	padding: 2em;

}