/*stylesheet*/
body {
	margin: 0;	
	background-image:url(../images/darkswirl.png);
	font-color: #22333B/*background: ##eaeded*/;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

h1, h2, h3, h4, p {
	margin-top: 0;
	margin-bottom: 1em;
}

h1{
	color:  #EFFBF5;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 40pt;
	align-items: center;
	justify-content: center;

}

#wrapperhome {
	margin: 15em auto;
	max-width: 1200px;
	align-items: center;
	justify-content: center;
}

#wrapper {
	background-color: #EFFBF5;
	margin: 15em auto;
	max-width: 1200px;
	align-items: center;
	justify-content: center;
}

#main {
	margin: 2em;
	padding: 2em;
	align-items: center;
	justify-content: center;
}

.home {
	position: relative;
	margin-bottom: 2em;
}

.home .grid {
	grid-gap: 0;
}

.home > div::before {
  position: relative;
  content: "";
  display: inline-block;
  width: 1px;
  height: 0;
  padding-bottom: calc(100% / (1/1));
}

.home .content {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: grid;
	align-items: center;
	justify-content: center;
}
.home .content-inside {
	padding: 0rem;
}

#sidebar {

}

.item img {
	margin-bottom: 2em;
}

#content {
}

#masthead {

}

#nav ul {
 	list-style: none;
 	padding-left: 0;
 	margin:0;
}

#logo h1 {
	margin: 0;
}

a {
  display: block;
  padding: 20px;
  background-color: #C6CBC2;
}

li {
  float: right;
}

 

a:link {
  color: #22333B;
}

/* visited link */
a:visited {
  color: #035C6E;
}

/* mouse over link */
a:hover {
  color: #9BBEBE;
}



#nav li {
	padding: .25em;
	display: inline;
	margin-bottom: 0;
}


.quote-holder {
	height: 40vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 3em;
}

.quote {
	font-size: 2em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

@media (max-width: 699px) {

	#wrapper {
		margin: 0em auto;
	}

	#main {
		margin: 1em;
		padding: 0em;
	}

	#logo {
		padding: 2em 0;
	}

	#nav ul {
		display: flex;
		justify-content: space-between;
	}

	#nav li {
		display: inline;
		padding: .25em;
		margin-bottom: 0;
	}

}
