/*stylesheet*/

body {
	margin: 0;	
	background-image:url(../images/swirl.jpg);
	/*background: ##eaeded*/;
	font-color: #22333B;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

h1, h2, h3, h4, p {
	margin-top: 0;
	margin-bottom: 1em;
}

h1, h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}


#wrapper {
	background-color: #EFFBF5;
	margin: 15em auto;
	max-width: 1200px;
	align-items: center;
	justify-content: center;
}

#main {
	margin: 2em;
	padding: 2em;
}

#sidebar {

}

#logo {
	shape-margin: square;
	margin: 3em;
	align-items: center;
	justify-content: center;
	width: 12em;
	height: auto;
}

#logo h1 {
	margin: 0;
}

#logo img, .item img {
	width: 100%;
	height: auto;
}

.item img {
	margin-bottom: 2em;
}

#content {
}

#nav ul {
  list-style: none;
  align-items: center;
  justify-content: center;
}

#nav li {
	margin-bottom: 1em;
}


.quote-holder {
	height: 40vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 3em;
}

.quote {
	font-size: 2em;
}

@media (max-width: 699px) {

	#wrapper {
		margin: 0em auto;
	}

	#main {
		margin: 1em;
		padding: 0em;
	}

	#logo {
		text-align: center;
		padding: 2em 0;
	}

	#nav ul {
		display: flex;
		justify-content: space-between;
	}

	#nav li {
		display: inline;
		padding: .25em;
		margin-bottom: 0;
	}

}
